<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <script src="js/lib/require.js" data-main="js/main"></script>

    <script id="characterTemplate" type="text/html">
        <div class="character">
            <div class="character__title">
                <h1><%= name %></h1>
            </div>
            <div class="character__details">
                <p>Height: <%= height %>cm</p>
                <p>Mass: <%= mass %>kg</p>
                <p>Eye color: <%= eye_color %></p>
                <p>Gender: <%= gender %></p>
            </div>
            <div class="character__footer">
                <h3><%= birth_year %></h3>
            </div>
        </div>
    </script>
</body>
</html>
